name: Build and Deploy

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

env:
  PUB_SUMMARY_ONLY: true
  KOTLIN_VERSION: "2.1.0"

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }} # Checkout the tag
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Create brandon user directory structure (match F-Droid)
        run: |
          sudo mkdir -p /home/brandon
          sudo chown $USER -R /home/brandon

      - name: Move project to F-Droid location
        run: |
          cd ..
          mv ${{ github.event.repository.name }} /home/brandon/flexify

      - name: Setup Flutter from submodule and get dependencies
        working-directory: /home/brandon/flexify
        run: |
          git submodule update --init --recursive flutter
          chmod +x flutter/bin/*
          echo "/home/brandon/flexify/flutter/bin" >> $GITHUB_PATH
          export PUB_CACHE=$(pwd)/.pub-cache
          flutter/bin/flutter config --no-analytics
          flutter/bin/flutter pub get

      - name: Decode Android keystore
        working-directory: /home/brandon/flexify
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > android/app/keystore.jks

      - name: Build android
        working-directory: /home/brandon/flexify
        run: |
          echo "storePassword=${{ secrets.ANDROID_STORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=keystore.jks" >> android/key.properties
          flutter build apk --split-per-abi
          flutter build apk
          mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/flexify.apk
          flutter build appbundle
          mkdir -p "${GITHUB_WORKSPACE}/build"
          mv build/* "${GITHUB_WORKSPACE}/build"

      - name: Upload Android artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-builds
          path: |
            build/app/outputs/flutter-apk/app-*-release.apk
            build/app/outputs/flutter-apk/flexify.apk
            build/app/outputs/bundle/release/app-release.aab

  create-github-release:
    needs: [build-android]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }} # Checkout the tag

      - name: Download all artifacts
        uses: actions/download-artifact@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body_path: fastlane/metadata/android/en-US/changelogs/latest.txt
          files: |
            android-builds/flutter-apk/app-*-release.apk
            android-builds/flutter-apk/flexify.apk
            android-builds/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
